/* CSS Document */
.left-nav-box{
width: 230px;
float: left;
_display: inline;
min-height: 1px;
}
.left-nav-box .left-nav-box-item{
padding-bottom: 15px;
background: #fafafa;
}

.left-nav-box .left-nav-box-item .box-hd {
height: 50px;
margin: 0 30px;
border-bottom: 1px solid #dfdfdf;
}

.left-nav-box .left-nav-box-item .box-hd .title {
margin: 0;
font-size: 18px;
font-weight: 400;
line-height: 50px;
color: #000;
}

.left-nav-box .left-nav-box-item .box-bd .left-nav-list{
margin: 10px 0 0;
padding: 0;
list-style-type: none;
font-size: 14px;
}

.left-nav-list li{
position: relative;
display: list-item;
text-align: -webkit-match-parent;
}

.left-nav-list li a {
display: block;
padding: 9px 30px;
color: #6d6d6d;
text-decoration: none;
}

.left-nav-list li.current a {
padding-left: 27px;
border-left: 3px solid #ff4a00;
color: #333;
background-color: #fafafa;
}

.right-box{
width: 850px;
float: left;
_display: inline;
min-height: 1px;
}

.right-box .right-box-inner{
margin-left: 20px;
}

.right-box .right-box-inner .box-hd{
position: relative;
height: 50px;
border-bottom: 1px solid #dfdfdf;
}

.right-box .right-box-inner .box-hd .title {
margin: 0;
font-size: 18px;
font-weight: 400;
line-height: 50px;
color: #333;
}

.right-box .right-box-inner .box-hd .more {
position: absolute;
top: 20px;
right: 0;
}

.box-order-list-type a.current {
color: #ff4a00;
}

.box-order-list-type .sep {
margin: 0 15px;
font-family: sans-serif;
}

.right-box .right-box-inner .box-bd .box-order-list-type{
margin: 20px 0;
border: 1px solid #dfdfdf;
border-bottom: 0;
}

.right-box .right-box-inner .box-bd .box-order-detail-list{
margin: 0;
padding: 0;
list-style-type: none;
}

.right-box .right-box-inner .box-bd .box-order-detail-item{
padding: 10px 20px;
border-bottom: 1px solid #dfdfdf;
}

.float-left{
float:left;
}

.box-order-list-type a {
color: #666;
text-decoration: none;
font-size: 12px;
}

//.box-order-list-type a:visited {
//color: #666;
//text-decoration: none;
//font-size: 12px;
//}

.box-order-list-type a:link {
font-size: 12px;
// color: #333;
text-decoration: none;
}

.input {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #EDEDED;
border-radius: 5px 5px 5px 5px;
color: #434A54;
height: 35px;
line-height: 35px;
padding: 0 10px;
width: 210px;
}

.rdf_input {
width: 352px;
height: 20px;
padding: 9px 15px;
border: 0;
line-height: 20px;
color: #333;
background: #fff;
position: relative;
width: 422px;
height: 38px;
border: 1px solid #dfdfdf;
font-size: 100%;
margin: 0;
vertical-align: baseline;
}

.button_style {
border: 0 none;
padding: 0;
background-color: transparent;
cursor: pointer;
width: 132px;
height: 36px;
padding: 0px 10px;
margin: 0px 10px;
display: block;
float: left;
font-size: 100%;
text-align: center;
background: url(../images/s_bgs.png) 0 -40px repeat-x;
height: 36px;
}